In [66]:
import pandas as pd
data =pd.read_csv("/Users/mia/Downloads/ccdefault.csv")

In [71]:
from sklearn.preprocessing import LabelEncoder
y = data.iloc[:,-1]
X = data.iloc[:,1:-2]

## Decision Tree

In [74]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import numpy as np
import timeit

train_accuracy = []
test_accuracy = []
start = timeit.default_timer()
#since we want to run for 10 different samples by changing random_state from 1 to 10.
for k in range(10):
    X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.1, random_state=k)
    tree = DecisionTreeClassifier()
    tree.fit(X_train,y_train)
    pred_train = tree.predict(X_train)
    train_accuracy.append(accuracy_score(y_train, pred_train))
    pred_test = tree.predict(X_test)
    test_accuracy.append(accuracy_score(y_test, pred_test))
end = timeit.default_timer()

In [83]:
# create the table including mean and standard deviation
test_ac = list(test_accuracy)
test_ac.append(round(np.mean(test_accuracy),5))
test_ac.append(round(np.std(test_accuracy),5))
train_ac = list(train_accuracy)
train_ac.append(round(np.mean(train_accuracy),5))
train_ac.append(round(np.std(train_accuracy),5))
table = pd.DataFrame(np.array([train_rs,test_rs]),columns = ['1','2','3','4','5','6','7','8','9','10','Mean','Standard Deviation'])
table.rename(index={0:'Train',1:'Test'}, inplace=True)
time = end-start
print(time)
table

5.400830007999502

,1,2,3,4,5,6,7,8,9,10,Mean,Standard Deviation
Train,0.99937,0.999296,0.999333,0.999333,0.999296,0.999333,0.99937,0.999296,0.999222,0.999481,0.99933,0.00006
Test,0.72600,0.728000,0.733000,0.730000,0.714333,0.727667,0.71000,0.721000,0.721667,0.725000,0.72367,0.00674

##Cross-Validation

In [69]:
from sklearn.model_selection import cross_val_score
start1 = timeit.default_timer()
tree = DecisionTreeClassifier()
tree.fit(X_train, y_train)
y_pred_test=tree.predict(X_test)
y_pred_train=tree.predict(X_train)
train_acc = cross_val_score(tree,X=X_train,y=y_train,cv=10,n_jobs=-1)
test_acc = cross_val_score(tree,X=X_test,y=y_test,cv=10,n_jobs=-1)
stop1 = timeit.default_timer()
time1 = stop1 - start1
print(time1)

5.7769258259995695

In [60]:
## create the table
output_train_acc = list(train_acc)
output_train_acc.append(round(np.mean(train_acc),4))
output_train_acc.append(round(np.std(train_acc),4))
output_test_acc =list(test_acc)
output_test_acc.append(round(np.mean(test_acc),4))
output_test_acc.append(round(np.std(test_acc),4))

In [81]:
table1 = pd.DataFrame(np.array([output_train_acc,output_test_acc]),columns = ['1','2','3','4','5','6','7','8','9','10','Mean','Standard Deviation'])
table1.rename(index={0:'Train',1:'Test'}, inplace=True)
table1

,1,2,3,4,5,6,7,8,9,10,Mean,Standard Deviation
Train,0.727879,0.721585,0.715556,0.717407,0.727037,0.731111,0.717407,0.731852,0.733605,0.731382,0.7255,0.0065
Test,0.684385,0.707641,0.720000,0.693333,0.686667,0.753333,0.720000,0.696667,0.729097,0.719064,0.7110,0.0204

In [42]:
print("My name is Wanbin cao")
print("My NetID is wcao11")
print("I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.")

My name is Wanbin cao
My NetID is wcao11
I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.